/* GLOBAL */
* {
  box-sizing: border-box;
  font-family: montserrat;

  margin: 0rem;
  padding: 0rem;
}
html {
  scroll-behavior: smooth !important;
}

body {
  color: #263138;
}

header {
  background-color: #ff9a6c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

header nav a {
  color: #ffffff;
  font-weight: 600;
  padding: 32px;
  text-decoration: none;
}
#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px 80px;
  position: relative;
}

#inicio > img {
  width: 100%;
  height: auto;
}

h1,
h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.botao {
  background-color: #ff725e;
  padding: 16px 32px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}

.botao-transparente {
  background-color: transparent;
  color: #ff725e;
  padding: 16px 32px;
  text-underline-offset: 4px;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica > img {
  width: 100%;
  height: auto;
}

#clinica li {
  margin: 16px;
  margin-left: 32px;
}

#farmacia {
  padding: 64px 80px;
  text-align: center;
}

#farmacia img {
  margin-block: 40px;
  margin-inline: 1rem;
  width: 50%;
  height: auto;
}

#farmacia .paragrafo {
  margin: 0 auto;
  max-width: 100ch;
}

#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}
.duvida {
  position: relative;
}

.duvidas > img {
  width: 100%;
  height: auto;
}

.duvida h3 {
  border: 2px solid #ff725e;
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}
.duvida .paragrafo {
  border-right: 1px solid #ff725e;
  border-bottom: 1px solid #ff725e;
  border-left: 1px solid #ff725e;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 24px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

.duvida.ativa .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}

footer {
  background-color: rgba(255, 152, 108, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
  flex-wrap: wrap;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}

footer nav a {
  color: #263138;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}
footer p {
  margin-bottom: 16px;
  max-width: 350px;
}

footer p a {
  color: #263138;
  text-decoration: none;
}
#copyright {
  background-color: #263138;
  color: #ffffff;
  text-align: center;
  padding: 24px;
}
#copyright a {
  color: #ff9a6c;
}
@media screen and (max-width: 1280px) {
  #inicio {
    justify-content: center;
    flex-wrap: wrap;
  }

  #inicio img {
    display: block;
  }

  h1,
  h2 {
    text-align: center;
  }

  .paragrafo {
    text-align: center;
  }
  #inicio > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .botao {
    max-width: 260px;
  }

  .botao-transparente {
    max-width: 260px;
  }

  #clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #clinica > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #clinica li {
    margin: 16px;
    margin-left: 32px;
  }

  #farmacia img {
    margin-block: 64px;
    margin-inline: 1rem;
    width: 100%;
    height: auto;
  }

  #duvidas {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }

  header nav a {
    color: #ffffff;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
  }
}
